[Unit]
Description=Redis 2.8 server
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm redis
ExecStart=/usr/bin/docker run --rm --name redis -p 6379:6379 -e SERVICE_ID=%H redis:2.8
ExecStop=/usr/bin/docker stop redis

[X-Fleet]
X-Conflicts=redis.*.service
